@charset "UTF-8";
/*Desarrollado por: Diana*/
/* ***********Estilos generales******************* */
body{
    font-family: sans-serif;
    background-color: #267352;
    font-size:150%;
}
h1{
    color:white;
    text-shadow: 4px 0 black;
    text-transform:uppercase;
    text-align: left;
}
p{
    text-align: justify;
}
/* ***********Clases****************************** */
.intro{
    border: 15px solid black;
    border-radius: 7%;
    margin-left:25%;
    margin-right: 25%;
    padding:1.5%;
    background-color: white;
}
.estilo1{
    border:15px solid #802400;
    border-top-left-radius: 7%;
    border-bottom-left-radius:7%;
    color:white;
    background-color: #AC5A39;
    margin-right: 50%;
    padding:1.5%;
}
.estilo2{
    border: 15px solid #804800;
    border-top-right-radius: 7%;
    border-bottom-right-radius:7%;
    margin-left:50%;
    padding:1.5%;
    color:white;
    background-color: #AC7A39;
}
.estilo3{
    border: 5px dashed #3978AC;
    margin-left: 25%;
    margin-right: 25%;
    padding:1.5%;
    color:white;
    background-color: #004680;
}